* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
}

.container {
	max-width: 60%;
	margin: 0 auto;
	padding: 20px;
}

.topbar {
	text-align: left;
	margin-bottom: 20px;
}
.topbar img {
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
}

.topbar ul {
	list-style: none;
}

.topbar li {
	display: inline;
	margin: 0 5px;
}

.topbar a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

/* ZMIANA TEKSTU I KOLORU PO NAJECHANIU NA LINK NAVBARA */
.topbar a:hover,
.topbar a.active {
	background: rgb(59, 59, 59);
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px 10px; /* MARGINESY BACKGROUND POWIEKSZONE */
}
.logo {
	border: solid;
	border-color: rgb(0, 0, 0);
	border-radius: 20px;
	background-color: #303030;
}
.logo img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.content-wrapper {
	display: flex;
	margin-top: 20px;
	gap: 20px; /* Przerwa między content a sidebar */
}

.content {
	flex: 7;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #eaeaea;
	border-radius: 10px;
	border: solid;
	border-color: rgb(0, 0, 0);
}

.content b {
	color: red;
	font-size: 17px;
}

.content p {
	font-size: 17px;
}

.columns {
	display: flex;
	gap: 20px; /* Odstęp między kolumnami */
	margin-top: 20px; /* Odstęp od paragrafu powyżej */
	margin-bottom: 20px;
}

.column {
	flex: 1;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 10px;
	margin-bottom: 20px;
}

.column h2 {
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
}

.column p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.column img {
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
}
.column ul li {
	margin-left: 20px;
}

.column li {
	margin-top: 20px;
}

.sidebar {
	flex: 3;
	padding-left: 20px;
	background-color: #eaeaea;
	border-radius: 5px;
	padding: 10px;
	border-radius: 10px;
	border-color: red;
	border: solid;
}
.sidebar h2 {
	text-align: center;
}

.image-gallery {
	display: flex;
	flex-wrap: wrap; /* Pozwól miniaturkom łamać się w rzędy */
	justify-content: center;
	gap: 15px;
	margin-bottom: 20px;
	position: relative;
}

.image-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px; /* Ustaw szerokość miniaturki */
}

.image-circle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	background-color: #333;
	border: solid;
	border-color: black;
}

.full-image1,
.full-image2,
.full-image3,
.full-image4,
.full-image5,
.full-image6,
.full-image7 {
	display: none; /* Ukrycie pełnych zdjęć */
	position: absolute;
	bottom: 110%; /* Obrazy pojawiają się nad miniaturką */
	left: 50%;
	transform: translateX(-50%);
	width: 500px; /* Domyślna szerokość obrazów */
	border-radius: 10px;
	z-index: 10;
	background-color: #333;
	border: solid;
	border-color: black;
	border-radius: 30px;
}

.image-wrapper:hover .full-image1,
.image-wrapper:hover .full-image2,
.image-wrapper:hover .full-image3,
.image-wrapper:hover .full-image4,
.image-wrapper:hover .full-image5,
.image-wrapper:hover .full-image6,
.image-wrapper:hover .full-image7 {
	display: block;
}

.footer {
	text-align: center;
	margin-top: 20px; /* Przerwa między content-wrapper a footer */
	padding: 10px 0;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
}

/* Media Queries dla ekranów mobilnych */
@media (max-width: 768px) {
	.container {
		max-width: 90%;
	}

	.navbar li {
		display: block;
		margin: 10px 0;
	}

	.columns {
        flex-direction: column; /* Zmienia układ na kolumnowy */
        align-items: center; /* Wyśrodkowuje kolumny w kontenerze */
    }
	

	.column {
        width: 100%; /* Ustawia szerokość kolumny na 100% */
        max-width: 500px; /* Maksymalna szerokość kolumny */
        margin-bottom: 20px; /* Dodaje odstęp między kolumnami */
        margin-right: auto; /* Automatyczny margines z prawej */
        margin-left: auto; /* Automatyczny margines z lewej */
    }

	.content-wrapper {
		flex-direction: column;
	}

	.content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.sidebar {
		padding-left: 0;
	}

	.image-wrapper {
		width: 100px;
	}

	.image-circle {
		width: 80px;
		height: 80px;
	}

	/* Pełne obrazy nad miniaturkami na urządzeniach mobilnych */
	.full-image1,
	.full-image2,
	.full-image3,
	.full-image4,
	.full-image5,
	.full-image6,
	.full-image7 {
		bottom: 110%; /* Pełne obrazy będą wyświetlane nad miniaturkami */
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		z-index: 10;
	}
}
